[Desktop Entry]
Name=Noisedeck Polymorphic
Comment=Generative art creation and publishing tool
Exec=AppRun %U
Icon=polymorphic
Type=Application
Categories=Graphics;
StartupWMClass=polymorphic
